.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 112px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.header.sticky {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    height: 96px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.nav_links {
    display: flex;
    gap: 40px;
}

.nav_link {
    position: relative;
    color: var(--white);
}

.nav_link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transition: 0.3s;
}

.nav_link:hover::before {
    width: 100%;
}

.nav_link.active::before {
    width: 100%;
}

.button {
    z-index: 99;
    background-color: transparent;
    color: var(--white);
}

.button_wrapper .burger {
    display: none;
}

.black_link {
    color: var(--black);
}

.black_link::before {
    background-color: var(--black);
}

.sticky_link {
    color: var(--white);
}

.sticky_link::before {
    background-color: var(--white);
}

.black_button {
    color: var(--black);
}

.sticky_button {
    color: var(--white);
}

.container .black_logo {
    color: var(--black);
}

.container .black_burger:before,
.container .black_burger:after {
    background: var(--black);
}

.container .sticky_burger:before,
.container .sticky_burger:after {
    background: var(--white);
}

.container .sticky_logo {
    color: var(--white);
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .nav.visible {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--orange-700);
        z-index: 98;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button {
        display: none;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .nav_link {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.1px;
    }

    .nav_link.active {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    }

    .nav_link.active:nth-child(1) {
        animation-delay: 0.5s;
    }

    .nav_link.active:nth-child(2) {
        animation-delay: 0.7s;
    }

    .nav_link.active:nth-child(3) {
        animation-delay: 0.9s;
    }

    .nav_link.active:nth-child(4) {
        animation-delay: 1.1s;
    }

    .button_wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .button_wrapper .burger {
        display: flex;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
