@media (max-width: 1024px) {
    .h3 {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -0.54px;
    }
}

@media (max-width: 480px) {
    .h3 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.48px;
    }
}
