.section {
    padding-top: 0;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
}

.description {
    margin-top: 24px;
    color: var(--slate-500);
}

.features {
    margin-top: 24px;
}

.details {
    margin-top: 48px;
}

.detail {
    border-top: 1px solid var(--slate-200);
}

.detail:last-child {
    border-bottom: 1px solid var(--slate-200);
}

.detail_head {
    position: relative;
    padding: 32px 0;
    cursor: pointer;
}

.detail_head svg {
    stroke: var(--black);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
    flex-shrink: 0;
}

.detail_head.open svg {
    transform: translateY(-50%) rotate(45deg);
}

.detail_title {
    font-weight: 500;
}

.list {
    padding-bottom: 32px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: disc;
    transition: all 0.3s;
}

.list_item {
    color: var(--slate-500);
}

.agent {
    padding: 48px;
    background-color: var(--slate-100);
    border: 1px solid var(--slate-200);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.avatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.name {
    font-weight: 500;
}

.email {
    color: var(--slate-500);
}

.form textarea,
.container .textfield {
    background-color: var(--white);
}

@media (max-width: 1024px) {
    .container {
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 48px;
    }
}

@media (max-width: 480px) {
    .agent {
        padding: 24px;
    }
}
