.values {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.value {
    display: flex;
    flex-direction: column;
}

.value_title {
    margin-top: 24px;
}

.value_description {
    margin-top: 16px;
}

@media (max-width: 1024px) {
    .values {
        margin-top: 64px;
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .values {
        margin-top: 48px;
        gap: 48px;
    }
}

@media (max-width: 480px) {
    .values {
        grid-template-columns: 1fr;
    }
}
