[class^="button"] {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    min-height: 56px;
    padding: 0 24px;
    background: linear-gradient(
        90deg,
        var(--orange-600) 0%,
        var(--orange-500) 100%
    );
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.18px;
    font-family: var(--font-dm-sans);
    border-radius: 16px;
    color: var(--white);
    transition: all 0.2s;
    border: 1.5px solid var(--orange-600);
    transition: all 0.2s;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

[class^="button"]:hover {
    background: linear-gradient(
        90deg,
        var(--orange-500) 0%,
        var(--orange-600) 100%
    );
}

[class^="button"][disabled],
[class^="button"].disabled {
    opacity: 0.5;
    pointer-events: none;
}

[class^="button"] svg {
    stroke: var(--white);
    width: 24px;
    height: 24px;
}

[class^="button"]:hover svg {
    stroke: var(--black);
}

.button-stroke {
    background: none;
    border: none;
    box-shadow: 0 0 0 1.5px var(--slate-200) inset;
    color: var(--slate-900);
    background: var(--white);
}

.button-stroke svg {
    stroke: var(--slate-900);
}

.button-stroke:hover,
.button-stroke:active {
    background: var(--black);
    box-shadow: 0 0 0 2px var(--black) inset;
    color: var(--white);
}

.button-stroke:hover svg {
    stroke: var(--white);
}

.button-stroke-small {
    background: none;
    border: none;
    box-shadow: 0 0 0 1.5px var(--slate-200) inset;
    color: var(--black);
    background: var(--white);
    height: 48px;
    min-height: 48px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.08px;
    flex-shrink: 0;
}

.button-stroke-small svg {
    stroke: var(--orange-600);
}

.button-stroke-small:hover,
.button-stroke-small:active {
    background: var(--orange-600);
    box-shadow: 0 0 0 2px var(--orange-600) inset;
    color: var(--white);
}

.button-stroke-small:hover svg {
    stroke: var(--white);
}

.button-black {
    border: none;
    background: var(--slate-950);
}

.button-black:hover {
    background: var(--slate-900);
}

.button-white {
    background: var(--white);
    color: var(--black);
    border: 1.5px solid var(--black);
}

.button-white svg {
    stroke: var(--black);
}

.button-white:hover {
    background: var(--success-50);
}

.button-ghost {
    background: none;
    border: none;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-ghost svg {
    stroke: var(--black);
}

.button-ghost:hover {
    background-color: var(--slate-100);
}

.button-ghost-small {
    background: none;
    border: none;
    color: var(--black);
    height: 48px;
    min-height: 48px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.08px;
}

.button-ghost-small svg {
    stroke: var(--black);
}

.button-ghost-small:hover {
    background-color: var(--slate-100);
}

.button-small {
    height: 48px;
    min-height: 48px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.08px;
}

.button-circle-stroke {
    min-height: auto;
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s;
    border: 2px solid var(--slate-200);
    cursor: pointer;
}

.button-circle-stroke svg {
    stroke: var(--black);
}

.button-circle-stroke:hover {
    background: var(--white);
    border-color: var(--black);
}

.button-circle-stroke:hover svg {
    stroke: var(--black);
}

.button-circle-stroke.button-small {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
}
