[class^="container"] {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 48px;
    }
}

@media (max-width: 430px) {
    [class^="container"] {
        padding: 0 24px;
    }
}
