.button {
    display: block;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 99;
}

.burger {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.burger.active:before {
    transform: translateY(0) rotate(-45deg);
}

.burger.active:after {
    transform: translateY(0) rotate(45deg);
}

.burger:before,
.burger:after {
    content: "";
    position: absolute;
    top: 16px;
    left: 6px;
    width: 20px;
    height: 2px;
    background: var(--white);
    border-radius: 2px;
    transition: transform 0.2s;
}

.burger:before {
    transform: translateY(-4px);
}

.burger:after {
    transform: translateY(3px);
}
