.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange-700);
    z-index: 100;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    color: var(--white);
    font-size: 96px;
    line-height: 1.2;
    font-family: var(--font-author-semibold);
    color: transparent;
    background: linear-gradient(90deg, #fff, var(--orange-700));
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.8px;
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.64px;
    }
}
