.img_container {
    position: relative;
    width: 100%;
    height: 600px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero_content {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0 80px;
}

.title {
    color: var(--white);
    text-align: left;
}

.content {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 80px;
}

.stack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--slate-100);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    gap: 8px;
}

.card_subtitle {
    color: var(--slate-500);
}

@media (max-width: 1024px) {
    .content {
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .hero_content {
        padding: 0 48px;
        bottom: 48px;
    }

    .content {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 48px;
    }
}

@media (max-width: 480px) {
    .hero_content {
        padding: 0 24px;
    }

    .stack {
        grid-template-columns: 1fr;
    }
}
