.title {
    text-transform: uppercase;
}

.facts {
    margin-top: 80px;
}

.fact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
    border-bottom: 1px solid var(--slate-200);
}

.fact:first-child {
    border-top: 1px solid var(--slate-200);
}

.fact_title {
    flex: 1;
    padding-left: 126px;
}

.fact_description {
    flex: 2;
    color: var(--slate-500);
}

@media (max-width: 1024px) {
    .facts {
        margin-top: 64px;
    }

    .fact_title {
        padding-left: 96px;
    }
}

@media (max-width: 768px) {
    .fact {
        margin-top: 48px;
    }

    .fact_title {
        padding-left: 76px;
    }
}

@media (max-width: 480px) {
    .fact {
        flex-direction: column;
        align-items: flex-start;
    }

    .fact_title {
        padding-left: 0;
        margin-top: 32px;
    }

    .fact_description {
        margin-top: 24px;
    }
}
