.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_container {
    max-width: 600px;
}

.subtitle {
    margin-top: 24px;
    color: var(--slate-500);
}

.categories {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.category {
    position: relative;
    cursor: pointer;
}

.image_container {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 24px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 32px;
    opacity: 1;
    transition: opacity 0.3s;
}

.category:hover .overlay {
    opacity: 0;
}

.category_title {
    color: var(--white);
}

@media (max-width: 1024px) {
    .categories {
        margin-top: 64px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .categories {
        margin-top: 48px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .categories {
        grid-template-columns: 1fr;
    }
}
