.section {
    padding-top: 148px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 48px;
}

.filters {
    background-color: var(--slate-100);
    padding: 48px;
    border-radius: 24px;
    border: 1px solid var(--slate-200);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container .textfield {
    background-color: var(--white);
}

.container .dropdown {
    background-color: var(--white);
}

.textfields {
    display: grid;
    gap: 8px;
}

.textButton {
    text-align: center;
    font-weight: 500;
}

.button {
    width: 100%;
}

.listings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 48px;
}

@media (max-width: 1024px) {
    .listings {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .listings {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .filters {
        padding: 24px;
    }
    .listings {
        grid-template-columns: 1fr;
    }
}
