.section {
    background-image: url("/images/video.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.title {
    z-index: 1;
    color: var(--white);
}
