.section {
    padding-top: 148px;
}

.content {
    text-align: center;
}

.subtitle {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 24px;
    color: var(--slate-500);
}

.team_members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 80px;
}

@media (max-width: 1024px) {
    .team_members {
        margin-top: 64px;
    }
}

@media (max-width: 768px) {
    .team_members {
        margin-top: 48px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .team_members {
        grid-template-columns: 1fr;
    }
}
