@media (max-width: 1024px) {
    .title {
        font-size: 72px;
        line-height: 86px;
        letter-spacing: 0.72px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.8px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.64px;
    }
}
