.section {
    padding-top: 156px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address {
    margin-top: 4px;
    color: var(--slate-500);
}

.images {
    margin-top: 48px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.image {
    position: relative;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
}

.grid_images {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}

.row_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.price {
    color: var(--orange-600);
}

@media (max-width: 768px) {
    .images {
        grid-template-columns: 1fr;
        height: auto;
    }

    .image {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .row_images {
        grid-template-columns: 1fr;
    }
}
