.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content {
    display: grid;
    gap: 48px;
}

.subtitle {
    color: var(--slate-500);
}

.divider {
    background-color: var(--slate-200);
    height: 1px;
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        gap: 48px;
    }
}
