.title {
    text-transform: uppercase;
}

.testimonial {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.testimonial_image {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 24px;
    overflow: hidden;
}

.testimonial_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial_name {
    color: var(--slate-500);
    margin-top: 16px;
}

.testimonial_name span {
    color: var(--black);
}

.btns {
    display: flex;
    gap: 8px;
}

.btn {
    width: 48px;
    border-radius: 50%;
}

.btn svg {
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    .testimonial {
        margin-top: 64px;
    }

    .testimonial {
        gap: 64px;
    }

    .testimonial_image {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .testimonial {
        margin-top: 48px;
        gap: 32px;
    }
}

@media (max-width: 480px) {
    .testimonial {
        grid-template-columns: 1fr;
    }

    .testimonial_image {
        height: 300px;
    }

    .btns {
        margin-top: 32px;
    }
}
