.images_grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.column {
    display: grid;
    gap: 32px;
}

.large_image,
.small_image {
    position: relative;
    width: 100%;
}

.large_image {
    height: 500px;
}

.small_image {
    height: 300px;
}

@media (max-width: 1024px) {
    .images_grid {
        margin-top: 64px;
    }
}

@media (max-width: 768px) {
    .images_grid {
        margin-top: 48px;
    }

    .large_image {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .images_grid {
        gap: 16px;
    }

    .column {
        gap: 16px;
    }

    .large_image {
        height: 200px;
    }
}
