.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: grid;
    gap: 8px;
}

.phone,
.email {
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .container {
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .content {
        gap: 48px;
    }
}
