.testimonials {
    margin-top: 80px;
    display: grid;
    gap: 80px;
}

.testimonial {
    display: flex;
    justify-content: space-between;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--slate-200);
}

.image_row {
    display: flex;
}

.rating {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        90deg,
        var(--orange-600) 0%,
        var(--orange-500) 100%
    );
}

.rating svg {
    fill: var(--white);
}

.avatar {
    margin-left: -24px;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.content {
    max-width: 600px;
    display: grid;
    gap: 24px;
}

.content_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: 500;
}

.title {
    color: var(--slate-500);
}

@media (max-width: 1024px) {
    .testimonials {
        margin-top: 64px;
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .testimonials {
        margin-top: 48px;
        gap: 48px;
    }

    .testimonial {
        flex-direction: column;
        gap: 48px;
    }
}

@media (max-width: 1024px) {
    .content_row {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}
