.img_container {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.title {
    position: absolute;
    bottom: 80px;
    color: var(--white);
    text-align: center;
}

.properties {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .title {
        bottom: 126px;
    }

    .properties {
        margin-top: 88px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .properties {
        grid-template-columns: 1fr;
    }
}
