.images {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    height: 600px;
}

.image {
    position: relative;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
}

.column_images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}

@media (max-width: 1024px) {
    .images {
        margin-top: 64px;
    }
}

@media (max-width: 768px) {
    .images {
        margin-top: 48px;
        grid-template-columns: 1fr;
        height: auto;
    }

    .column_images {
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .column_images {
        grid-template-columns: repeat(1, 1fr);
    }
}
