.leadership {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.leader {
    padding: 48px;
    background-color: var(--slate-100);
    border: 1px solid var(--slate-200);
    border-radius: 24px;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
    gap: 80px;
}

.leader_info {
    padding: 48px;
    border-radius: 24px;
    background-color: var(--white);
}

.leader_name {
    font-weight: 500;
}

.avatar_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.leader_description {
    margin-top: 24px;
    color: var(--slate-500);
}

@media (max-width: 1024px) {
    .leadership {
        margin-top: 64px;
    }

    .leader {
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .leadership {
        margin-top: 48px;
    }

    .leader {
        grid-template-columns: 1fr;
        gap: 48px;
    }
}

@media (max-width: 480px) {
    .leader {
        padding: 24px;
    }

    .leader_info {
        padding: 24px;
    }

    .avatar_info {
        flex-direction: column;
        align-items: flex-start;
    }
}
