.marquees {
    margin-top: 80px;
    display: grid;
    gap: 80px;
}

.title {
    text-transform: uppercase;
}

.marquee_text {
    margin-right: 48px;
}

@media (max-width: 1024px) {
    .marquees {
        margin-top: 64px;
        gap: 64px;
    }
}

@media (max-width: 768px) {
    .marquees {
        margin-top: 48px;
        gap: 48px;
    }
}
