.content {
    display: flex;
    justify-content: space-between;
}

.subtitle {
    max-width: 480px;
    color: var(--slate-500);
}

.properties {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

@media (max-width: 1024px) {
    .properties {
        margin-top: 64px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .properties {
        margin-top: 48px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .properties {
        grid-template-columns: 1fr;
    }
}
